BETTER_AUTH_SECRET= # https://better-auth.com/docs/installation#set-environment-variables
BETTER_AUTH_URL=https://timetable.icu
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
PUBLIC_BASE_URL=https://timetable.icu
