---
// 新規コース追加Buttonを押したらこのページに飛ばされる
// /timetable/new.astro
import Layout from "@/components/layout/Layout.astro";
import CourseEditor from "@/components/features/timetable/CourseEditor";
const { lang, user, selectedYear, selectedTerm } = Astro.locals;
---

<Layout title="新規作成">
    <div class="max-w-2xl mx-auto p-4 flex flex-col">
        <CourseEditor
                client:load
                mode="create"
                lang={lang}
                user={user}
                selectedYear={selectedYear}
                selectedTerm={selectedTerm}
        />
    </div>
</Layout>