---
// 新規コース追加Buttonを押したらこのページに飛ばされる
// /timetable/new.astro
import Layout from "@/components/layout/Layout.astro";
import CourseEditor from "@/components/timetable/CourseEditor";
import { createTranslationHelper } from "@/lib/translation/utils.ts";

const { lang, user, selectedYear, selectedTerm } = Astro.locals;
const { t } = createTranslationHelper(lang);
---

<Layout title=`${t('custom.create')} | ${t('site.title')}`>
    <div class="max-w-2xl mx-auto p-4 flex flex-col">
        <CourseEditor
                client:load
                mode="create"
                lang={lang}
                user={user}
                selectedYear={selectedYear}
                selectedTerm={selectedTerm}
        />
    </div>
</Layout>