---
import {CalendarDays, Telescope, Plus} from "lucide-astro";
import {useLanguage} from "@/lib/translation/utils.ts";

const lang = Astro.locals.lang;
const {t, l} = useLanguage(lang);

const {pathname} = Astro.url;

const isActive = (path: string) => {
    const translatedPath = l(path);
    return pathname === translatedPath || pathname === `${translatedPath}/`;
};
---
<footer>
    <nav class="hidden lg:flex dock bg-base-100/80 backdrop-blur-lg border-t border-white/10">
        <a href={l('/explore')}
           class={`transition-colors ${isActive('/explore') ? 'dock-active text-primary' : 'text-base-content'}`}>
            <Telescope size="24"/>
            <span class="dock-label">{t('nav.explore')}</span>
        </a>
        <a href={l('/timetable')}
           class={`transition-colors ${isActive('/timetable') ? 'dock-active text-primary' : 'text-base-content'}`}>
            <CalendarDays size="24"/>
            <span class="dock-label">{t('nav.timetable')}</span>
        </a>
    </nav>


    {isActive('/timetable') ? (
            <nav class="lg:hidden fixed bottom-6 right-6 z-50">
                <a href={l('/explore')} class="btn btn-xl btn-circle btn-primary shadow-xl border-2 ">
                    <Plus size="32" class="text-primary-content"/>
                </a>
            </nav>
    ) : (
            <nav class="lg:hidden fixed bottom-6 left-6 z-50">
                <a href={l('/timetable')} class="btn btn-xl btn-circle btn-primary shadow-xl border-2 ">
                    <CalendarDays size="32" class="text-primary-content"/>
                </a>
            </nav>
    )}
</footer>