---
import Layout from "@/components/layout/Layout.astro";
import { defaultLang } from "@/lib/translation/ui.ts";
import { createTranslationHelper } from "@/lib/translation/utils.ts";

const lang = Astro.locals.lang || defaultLang;
const { t } = createTranslationHelper(lang);
export const prerender = true;
---
<Layout title={`404 - ${t('404.title')}`} showDBError={false}>
    <main class="hero min-h-[85vh] relative overflow-hidden">
        <div class="hero-content text-center z-10 px-4">
            <section
                    class="card bg-base-100/80 backdrop-blur-lg shadow-xl max-w-xl border border-base-content/5 p-8 md:p-12">
                <p class="text-md font-mono opacity-50 mb-4">
                    404_{t('404.title')}
                </p>

                <h1 class="text-lg md:text-xl font-medium">
                    {t('404.message')}
                </h1>


                <p class="text-sm md:text-base leading-relaxed text-left font-serif italic my-10">
                    {t('404.secret')}
                </p>

                <p class="text-sm md:text-base opacity-50 font-serif">
                    {t('404.closing')}
                </p>

            </section>
        </div>

        <aside aria-hidden="true" class="fixed inset-0 -z-10 overflow-hidden pointer-events-none select-none">
            <img
                    src="/images/secret1.webp"
                    alt="学生がいかだを作っている様子"
                    width={1200}
                    class="absolute -bottom-4 -left-4 w-150 md:w-200 -rotate-12 opacity-60"
            />
            <img
                    src="/images/secret2.webp"
                    alt="ICUの空"
                    width={800} 
                    class="absolute -top-4 -right-4 w-120 md:w-180 rotate-12 opacity-60"
            />
        </aside>
    </main>
</Layout>