---
import Layout from "@/layouts/Layout.astro";
---
<Layout title="ICUのじかんわりへようこそ！">
    <h1>ICUのじかんわりへようこそ！</h1>
    <ul>
        <li><a href="/timetable">時間割をつくる</a></li>
        <li><a href="/explore">授業を探索する</a></li>
    </ul>
    <h2>できること</h2>
    <ul>
        <li>ログインすれば, どのデバイスでも時間割を見られます</li>
    </ul>
</Layout>