---
import Layout from "@/layouts/Layout.astro";
---
<Layout title="ようこそ! | ICUのじかんわり">
    <h1>ICUのじかんわりへようこそ！</h1>
    <h2>できること</h2>
    <ul>
        <li>ログインすれば, どのデバイスでも時間割を見られます</li>
        <li>Long 4, 5, 6, 7に対応</li>
    </ul>
</Layout>