---
import Layout from "@/layouts/Layout.astro";
import TimetableInterface from "@/components/TimetableInterface.tsx";
import {drizzle} from "drizzle-orm/d1";
import {env} from "cloudflare:workers";
import * as schema from "@/db/schema.ts";
import type {FlatSchedule} from "@/db/schema.ts";
import Timetable from "@/components/Timetable.astro";

const {user} = Astro.locals;
---
<Layout title="あいしーゆーのじかんわり">
    <main>
        {user && <p class="mb-4">ログインすると自分の時間割を作成・表示できます。</p>}
        <Timetable/>
    </main>
</Layout>