---
import Layout from "@/layouts/Layout.astro";
import Timetable from "@/components/Timetable.astro";

const {user} = Astro.locals;
---
<Layout title="あいしーゆーのじかんわり">
    <main>
        <Timetable/>
    </main>
</Layout>