---
import {Calendar, Plus, Telescope} from "lucide-astro";
const {pathname} = Astro.url;

const isActive = (path: string) => {
    return pathname === path || pathname === `${path}/`;
};
---
<!-- Desktop -->
<footer class="hidden md:flex dock bg-base-100/80 backdrop-blur-lg border-t border-white/10">
    <a href="/explore"
       class={`transition-colors ${isActive('/explore') ? 'dock-active text-primary' : 'text-base-content'}`}>
        <Telescope size="24"/>
        <span class="dock-label">Explore</span>
    </a>
    <a href="/timetable"
       class={`transition-colors ${isActive('/timetable') ? 'dock-active text-primary' : 'text-base-content'}`}>
        <Calendar size="24"/>
        <span class="dock-label">Timetable</span>
    </a>
</footer>

<!-- Mobile Toggle FAB -->
<footer class="md:hidden fixed bottom-6 right-6 z-50">
    {isActive('/timetable') ? (
            <a href="/explore" class="btn btn-xl btn-circle btn-accent shadow-xl border-2 ">
                <Telescope size="32" class="text-accent-content"/>
            </a>
    ) : (
        /* それ以外（Exploreなど）の時は Timetable へのボタンを表示 */
            <a href="/timetable" class="btn btn-xl btn-circle btn-accent shadow-xl border-2 ">
                <Calendar size="32" class="text-accent-content"/>
            </a>
    )}
</footer>