---
import LoginButton from "./LoginButton";
import PasskeyButton from "./PasskeyButton.tsx";
import PasskeyList from "./PasskeyList.tsx";


const user = Astro.locals.user;
const isLoggedIn = !!user;
---
<div>
    <h1>ICUのじかんわり</h1>
    <nav>
        <LoginButton client:load isLoggedIn={isLoggedIn}/>
        <PasskeyButton client:load isLoggedIn={isLoggedIn}/>
        <PasskeyList client:load isLoggedIn={isLoggedIn}/>
    </nav>
</div>